# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.pytest_cache/

# Ambientes
.venv/
venv/
env/
.env

# Sistema
.DS_Store
Thumbs.db

# Dados grandes
data/raw/*
data/processed/*
!data/raw/
!data/raw/natality_2024/
!data/raw/natality_2024/.gitkeep
!data/processed/
!data/processed/.gitkeep
!data/README.md

# Saídas geradas pelos notebooks
outputs/
dados_brutos/
dados_intermediarios/
dados_finais/
logs/

# Arquivos pesados e modelos
*.parquet
*.zip
*.txt
*.csv
*.xlsx
*.pkl
*.joblib
*.model
*.feather

# Temporários
*.tmp
*.bak
~$*
